@using Control.Entities.Models.Entites
@model Communicate
@{
    ViewBag.Title = "İletişim Mesaj Bilgisini Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Mesaj Sahibi</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="NameSurname" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Mesaj Konusu</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="Subject" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="ccomment" class="control-label col-lg-2">İletişim Mesajı</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="Text" required=""></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit">Mesajı Güncelle</button>
                                            <a href="~/Communicate/Index"><button class="btn btn-danger" type="button">İptal Et</button></a>
                                        </div>
                                    </div>
                                    <hr />
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>
